.top-carousel {
	margin: 70px 0 100px 0;
	width: 100%;
	min-height: 600px;
	.content-box {
		position: relative;
		top: 0;
		left: 0;
	}
	.content {
		display: flex;
		flex-flow: column wrap;
		width: 100%;
		min-height: 100%;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
	}
	.box-info {
		padding: 35px 0 50px 0;
		max-width: 415px;
		min-width: 280px;
		width: 100%;
		min-height: 415px;
		background-color: rgba(255, 255, 255, 0.87);
		text-align: center;
		a {
			font: 400 21px $primary_font;
			text-decoration: underline;
		}
		h2 {
			color: $secondary_font_color;
			font: 400 72px $secondary_font;
		}
		p {
			width: 270px;
			margin: 0 auto;
			@extend h2;
			font-size: 27px;
		}
		.date {
			display: block;
			color: $p_font_color;
			font: italic 400 14px/52px $primary_font;
		}
		.slide-btn {
			display: block;
			width: 235px;
			margin: 0 auto;
			color: $secondary_font_color;
			font: 400 13px/50px $primary_font;
			border: 1px solid rgba(0, 0, 0, 0.65);
			background: $additional_color;
			text-decoration: none;
			&:hover {transition: all .3s ease-in-out;}
		}
	}
}
.post {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 50px;
	header {
		.categoty a {
			font: 400 14px $primary_font;
			text-decoration: underline;
			text-transform: uppercase;
		}
		h2 {margin: 0;}
		.title a{
			font: 400 21px $primary_font;
			&:hover {text-decoration: none;}
		}
		.date {font: italic 400 12px/52px $primary_font;}
	}
	p {font: 400 13px/20px $primary_font;}
	.post-btn {
		font: 400 13px $primary_font;
		&:hover {text-decoration: none;}
	}
	footer {
		width: 100%;
		height: 75px;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		justify-content: space-between;
		span {
			padding-left: 20px;
			float: left;
		}
	}
	.post-comments {
		margin: 0 20px 10px 0;
		color: $secondary_font_color;
		font: 400 17px $primary_font;
	}
}