.site-footer {
	margin-top: 70px;
	.gallery {
		width: 100%;
		min-height: auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	.footer-widget-area {
		width: 100%;
		min-height: 100px;
	}
	.flexbox {
		display: flex;
		flex-flow: row wrap;
		min-height: 100px;
		justify-content: flex-end;
		align-items: center;
	}
}