//header nav menu
@media (min-width: 320px) and (max-width: 768px) {
	//head carousel
	.top-carousel {
		margin: 0;
	}
	.site-header {
		width: 100%;
		.site-branding {
			max-width: 400px;
			min-width: 280px;
			width: 100%;
			margin: 30px auto 30px auto;
		}
	}

	//nav menu
	.nav {
		display: none;
		li a {
			border-top: 1px solid #ccc;
			background: $additional_color;

			&:hover {
				background: #f0f0f0;
				border-left: 3px solid $accent_color;
			}
		}
	}
	.nav li:first-child a {border-top: none;}
	#touch-menu {
		min-height: 50px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-decoration: none;
		.fa-bars {font-size: 22px;}
	}

	//footer
	.site-footer {
		.flexbox {justify-content: center;}
	}
}